.taskCardTitleInputArea {
	margin-bottom: 10px;
	width: 30%;
	cursor: pointer;
}

.taskCardTitleInput {
	width: 140px;
	font-size: 1.1rem;
	padding: 4px 6px;
	border-radius: 3px;
	border: none;
	outline: none;
}
